<h3>These are ALL of the dinos that we can GET</h3>
<a href="/dinosaurs/new">Add A DINO!!!</a>
<ul>
    <% dinosaurs.forEach( function(dinosaur, i){ %>
    <li> <a href="/dinosaurs/<%= dinosaur.id i%>" ><%= dinosaur.name %></a> </li>
    <% });%>
</ul>